.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

node_modules/*
dist/*
5/*
backup/*
dist/*
.vs/*
debug.log
package-lock.json
webpack.config.js
test.html
.gitignore
